@import url("fonts.css");
@import url("material-indigo-red.min.css");

body {
	background-color: rgb(250,250,250);
}

.budref-layout-transparent {
	/* background: url('../img/mainpage.jpg') center / cover; */
	background-color: #9999ff;
	width: 100%;
	height: 250px;
}