@import url("fonts.css");
@import url("material.blue_grey-red.min.css");
@import url("material-icons.css");

body {
	background-color: rgb(250,250,250);
	color: #222222;
}

.budref-layout-transparent {
	/* background: url('../img/mainpage.jpg') center / cover; */
	background-color: #37474F;
	width: 100%;
}

.budref-layout-transparent.mainpage {
	/* height: 250px; */
}
